

.header{
    height: var(--header-height);
    background-image: linear-gradient(to right, rgb(33, 211, 255), rgba(111, 226, 255,1));
    color: #333;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}

.header__nav-list{
    list-style-type: none;
    padding: 0 10px;
}


.header__nav-item{
    position: relative;
}

.header__nav-item-has-qr:hover .header__qr{
    display: block;
}


.header__nav-item,
.header__nav-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__nav-icon-link:hover,
.header__nav-item:hover,
.header__nav-item-link:hover{
    color: rgba(255,255,255,0.6);
    cursor: pointer;
}

.header__nav-item + .header__nav-item{
    margin-left: 10px;
}

.header__nav-item-bold{
    font-weight: 400;
}

.header__nav-item-separate::after{
    display: block;
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: rgba(242, 255, 255, 0.7);
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-icon-link{
    color: var(--white-color);
    text-decoration: none;
    margin-left: 5px;
}


.header__nav-icon{
    font-size: 1.8rem;
}

.header__nav--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR CODE */

.header__qr{
    width: 170px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 140%;
    padding: 10px;
    border-radius: 4px;
    display: none;
    animation: fadeIn ease 0.3s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top: -8px;
}

.header__qr-img{
    width: 100%;
}
.header__apps{
    display: flex;
}

.header__download-appstore-img{
    width: 40%;
}

.header__download-chplay-img{
    width: 40%;
    margin-left: 15px;
}

.header__download-appgallery-img{
    width: 40%;
    margin-top: 4px;
}

.header__app-links{
    text-decoration: none;
    margin-left: 9px;
}

/* Notifycation */

.header__notify{
    position: absolute;
    top: 132%;
    right: 0;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border: solid #D3D3D3 1px;
    display: none;
    animation: headerNotifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 20px) top;
    will-change: opacity, transform;
    cursor: default;
    z-index: 99;
}

.header__notify::after{
    content:"";
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -20px;
}

.header__notify::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top: -8px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__nav-item-has-notify:hover .header__notify{
    display: block;
}

.header__notify-header{
    height: 5px;
    background-color: var(--white-color);
}

.header__notify-header h4{
    color: #9a9a9a;
    width: 140px;
    margin: 0;
    line-height: 40px;
}

.header__notify-list{
    margin-top: -8px;
    padding-left: 0;
}
.header__notify-item{
    list-style-type: none;
    
}

.header__notify-item--seen:hover{
    background-color: #f7f7f7;
}

.header__notify-item a{
    display: flex;
    text-decoration: none;

}

.header__notify-link{
    width: 100%;
    background-color: rgba(33, 211, 255, 0.1);
}

.header__header-info{
    margin-left: 12px;
}

.header__notify-img{
    margin-left: 12px;
    width: 32px;
    object-fit: contain;
}

.header__header-name{
    color: var(--black-color);
    margin: 6px 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header__notify-description{
    color: #9a9a9a;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 3px 0;
}

.header__notify-footer{
    text-align: center;
    padding: 16px 0 4px;
}

.header__notify-footer:hover {
    background-color: #f7f7f7;
}

.header__notify-footer--all{
    color: var(--black-color);
    text-decoration: none;
}

/* authen modal */

.auth-form__container{
    padding: 0 32px;
}

.auth-form{
    width: 400px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 390;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form{
    
}

.auth-form__group{
   
}

.auth-form__input{
   width: 100%;
   height: 30px;
   margin-top: 16px;
   padding: 0 8px;
   font-size: 1.2rem;
   font-weight: 350;
   border: 1px solid var(--border-color);
   border-radius: 5px;
}

.auth-form__aside{
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}


.btn.btn--primary:hover{
    filter: brightness(95%);
}


.auth-form__controls-back{
    margin-right: 8px;
    background-color: var(--white-color);
}

.auth-form__controls-back:hover{
    filter: brightness(95%);
}

.auth-form__socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 24px 30px;
    background-color: #f5f5f5;
    height: 40px;
}

.auth-form__socials-icon{
    font-size: 1.4rem;
}

.auth-form__socials-text{
    margin-left: 8px;
}

.btn.auth-form__socials-facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials-google{
    background-color: var(--white-color);
}


.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 20px;
    margin: 0 8px;
}

.auth-form__help-link-forgot{
    color: var(--primary-color);
}

/* Search */

.header-search{
    height: var(--header-search);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 100px;
}

.fa-store{
    font-size: 60px;
    color: var(--white-color);
}

.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart-logo{
    width: 100px;
    text-align: center;
}

.fa-cart-plus{
    font-size: 20px;
    color: var(--white-color);
    margin-top: 6px;
}

.header__search-input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 10px;
}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{
    font-size: 1.2rem;
    color: var(--text-color);
}

.fa-angle-down{
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 16px 0 4px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
}

.header__search-btn:hover{
    background-color: rgb(55 215 255);
    cursor: pointer;
}

.fa-magnifying-glass{
    font-size: 1.4rem;
    color: var(--white-color);
    width: 60px;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 160%;
    width: 110px;
    list-style: none;
    box-shadow: 0 1px 1px #ededed;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.1s;
}

.header__search-option::before{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px
}



.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
    filter: brightness(97%);
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.2rem;
    color: var(--text-color);
}


.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}